{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Index</a>
		<a href="/about" class="menu__item">About</a>
		<a href="http://weibo.com/u/2115896803" class="menu__item">Weibo</a>
		<a href="https://www.linkedin.com/profile/view?id=93772998" class="menu__item">LinkedIn</a>
		<a href="https://plus.google.com/u/0/101996875056487228674/about" class="menu__item">Google+</a>
		<a href="https://twitter.com/jeanmac516" class="menu__item">Twitter</a>
		<a href="https://www.facebook.com/ce.yang.5" class="menu__item">Facebook</a>
	</div>
</nav>